.card-row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 145px;
    padding-right: 110px;
    gap: 90px;
    padding-bottom: 100px;
}

.card-row > * {
    flex: 1 1 1 ;
}

.gc-head {
    padding-left: 110px;
    color: #007aff;
    font-size: 30px;
}

.show-but-cont {
    text-align: center;
    padding-bottom: 30px;
}

.show-button {
    background-color: #007aff;
    font-size: 1.1rem;
    border-color: transparent;
    border-radius: 10px;
    padding: 10px;
}

.show-button a {
    text-decoration: none;
    font-weight: 550;
    color: #ffffff;
}